@model  LkUgtu.Models.IndexDTO
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="vcenter">
    <h2 >@Model.fullName @Model.group_name <span></span></h2>
    <hr />
    <div class="col-md-4">
    @{
        Html.RenderPartial("VakansPanel", Model.vakansInIndex);
    }
    </div>
    <div class="col-md-4">
    @{
        Html.RenderPartial("RegistrationPanel", Model.regisrationInIndex);
    }
    </div>
    <div class="col-md-4">
    @{
        Html.RenderPartial("TrudoustrPanel", Model.trudoustrInIndex);
    }
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal">
</div>

