<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Список вакансий</h4>
            <input class="form-control" id="searchVakansControl" type="text" placeholder="Поиск по вакансиям" />
        </div>
        <div class="modal-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th >
                           Должность
                        </th>
                        <th>
                            Предприятие
                        </th>
                        <th>
                           ЗП
                        </th>
                        <th>
                           Занятость
                        </th>
                        <th>
                            График
                        </th>
                        <th>
                            Доп инфо
                        </th>  
                    </tr>
                </thead>
                <tbody id="tableVakansList">

                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <div class="pull-left">
                <h5 class="pull-right">Всего  вакансий:</h5>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        </div>
    </div>
</div>
<script>
    $('#searchVakansControl').keyup(function () {
        $.ajax({
            url: '@Url.Action("GetAllVakans")',
            data: { search: $('#searchVakansControl').val() },
            contentType: "application/json",
            dataType: "json",
            success: function (vakans) {
                $('#tableVakansList').html('');
                for (var i = 0; i < vakans.length; i++) {
                    $('#tableVakansList')
                         .append(
                         $(document.createElement('tr'))
                              .append(
                             $(document.createElement('td'))
                                 .append(
                                 $(document.createElement('span')).html(i+". "+vakans[i].post)))
                              .append(
                             $(document.createElement('td'))
                                 .append(
                                 $(document.createElement('span')).html(vakans[i].company)))
                              .append(
                             $(document.createElement('td'))
                                 .append(
                                 $(document.createElement('span')).html(vakans[i].salary)))
                              .append(
                             $(document.createElement('td'))
                                 .append(
                                 $(document.createElement('span')).html(vakans[i].employment)))
                                    .append(
                             $(document.createElement('td'))
                                 .append(
                                 $(document.createElement('span')).html(vakans[i].shedule)))
                                    .append(
                             $(document.createElement('td'))
                                 .append(
                                 $(document.createElement('span')).html(vakans[i].otherInfo))));
                }
            }
        });
    });
</script>

