<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Список </h4>
        </div>
        <div class="modal-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Должность
                        </th>
                        <th>
                            Предприятие
                        </th>
                        <th>
                            ЗП
                        </th>
                        <th>
                            Занятость
                        </th>
                        <th>
                            График
                        </th>
                        <th>
                            Доп инфо
                        </th>
                    </tr>
                </thead>
                <tbody id="tableTrudoustrList"></tbody>
            </table>
        </div>
        <div class="modal-footer">
            <div class="pull-left">
                <h5 class="pull-right">Всего :</h5>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        </div>
    </div>
</div>


