@model  LkUgtu.Models.IndexVakansDTO

<div class="panel panel-primary" >
    <div class="panel-heading">
        <h3 style="margin: 0;">
            Вакансии
        </h3>
    </div>
    <div class="panel-body"  style="padding: 0;">
        <div class="centered" style="background-color: #f5f5f5">
            <ul class="nav nav-justified">
                <li id="buttViewVakansList" >
                    <a style="padding: 5px" title="Посмотреть вакансии" class="btn btn-link btn-sm"><span class="glyphicon glyphicon-eye-open"></span></a>
                </li>
               <!--<li>
                    <a style="padding: 5px" title="Подобрать вакансии" class="btn btn-link btn-sm"><span class="glyphicon glyphicon-cog"></span></a>
                </li>-->
            </ul>
        </div>
        <div class="panel-body" style="padding-bottom: 5px">
            <p>Общее число вакансий: @Model.countVakans</p>
            <p>Общее число предприятий: @Model.countPredpr </p>
        </div>
    </div>
</div>
<div class="modal fade" id="myModalForVakans">
</div>


<script>
        $('#buttViewVakansList').click(function () {
            var url = "@Url.Action("GetModalViewVakansList")";
            $.get(url, function (data) {
                $('#myModalForVakans').html(data);
                $('#myModalForVakans').appendTo('body').modal('show');
                //$('#tableVakansList')
                //    .append(
                //    $(document.createElement('div')).attr({
                //        class:'progress'
                //    })
                //        .append(
                //            $(document.createElement('div')).attr({
                //                class: 'progress-bar progress-bar-striped active'
                //                ,role: 'progressbar'
                //                ,'aria-valuenow': '50'
                //                ,'aria-valuemin': '0'
                //                ,'aria-valuemax': '100'
                //                ,style:'width:50%'
                //            }).html('50%')));
                $.ajax({
                    url: '@Url.Action("GetAllVakans")',
                    success: function (vakans) {
                        for(var i =0; i<vakans.length;i++){
                            $('#tableVakansList')
                                 .append(
                                 $(document.createElement('tr'))
                                      .append(
                                     $(document.createElement('td'))
                                         .append(
                                         $(document.createElement('span')).html((i+1)+". " + vakans[i].post)))
                                      .append(
                                     $(document.createElement('td'))
                                         .append(
                                         $(document.createElement('span')).html(vakans[i].company)))
                                      .append(
                                     $(document.createElement('td'))
                                         .append(
                                         $(document.createElement('span')).html(vakans[i].salary)))
                                      .append(
                                     $(document.createElement('td'))
                                         .append(
                                         $(document.createElement('span')).html(vakans[i].employment)))
                                            .append(
                                     $(document.createElement('td'))
                                         .append(
                                         $(document.createElement('span')).html(vakans[i].shedule)))
                                            .append(
                                     $(document.createElement('td'))
                                         .append(
                                         $(document.createElement('span')).html(vakans[i].otherInfo))));
                        }
                       
                    }
                });

            });
        });

</script>

