@model  LkUgtu.Models.IndexVakansDTO
<div class="panel panel-primary" >
    <div class="panel-heading">
        <h3 style="margin: 0;">
            Вакансии
        </h3>
    </div>
    <div class="panel-body"  style="padding: 0;">
        <div class="centered" style="background-color: #f5f5f5">
            <ul class="nav nav-justified">
                <li>
                    <a style="padding: 5px" title="Посмотреть вакансии" class="btn btn-link btn-sm"><span class="glyphicon glyphicon-eye-open"></span></a>
                </li>
                <li>
                    <a style="padding: 5px" title="Подобрать вакансии" class="btn btn-link btn-sm"><span class="glyphicon glyphicon-cog"></span></a>
                </li>
            </ul>
        </div>
        <div class="panel-body" style="padding-bottom: 5px">
            <p>Общее число вакансий: @Model.countVakans</p>
            <p>Общее число предприятий: @Model.countPredpr </p>
        </div>
    </div>
</div>